/* RepaymentScheduleTable.css */

/* Apply styling to the Repayment Schedule Table */
.RepaymentScheduleTable {
    margin: 20px 0;
}

h2 {
    color: #fff;
    margin-top: 100px;
}

table {
    width: 110%; /* Make the table broader */
    border-collapse: collapse;
    margin-top: 50px;
}

thead {
    background-color: var(--dark-bg);
    color: var(--text);
}

th, td {
    padding: 12px; /* Increase padding for better spacing */
    text-align: left;
    border: 1px solid #ddd; /* Add border to cells */
}

th {
    border-bottom: 3px solid var(--text); /* Make header border thicker */
}

tbody tr:nth-child(even) {
    background-color: var(--light-bg);
}

tbody tr:hover {
    background: linear-gradient(to right, #800080, #00008B); /* Change background color on hover */
}

/* Add these styles for the copied state */
.copy-button.copied {
    background-color: #4caf50; /* Green background color for copied state */
}

.copy-button.copied:hover {
    background-color: #45a049; /* Darker green color on hover for copied state */
}

.download-button {
    margin: 5px;
    margin-top: 10px;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Styles for loading spinner */
.terminal-loader {
    border: 0.1em solid #333;
    background-color: #1a1a1a;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    padding: 1.5em 1em;
    width: 12em;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.terminal-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1.5em;
    background-color: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0 0.4em;
    box-sizing: border-box;
}

.terminal-controls {
    float: right;
}

.control {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.4em;
    border-radius: 50%;
    background-color: #777;
}

.control.close {
    background-color: #e33;
}

.control.minimize {
    background-color: #ee0;
}

.control.maximize {
    background-color: #0b0;
}

.terminal-title {
    float: left;
    line-height: 1.5em;
    color: #eee;
}

.text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid green; /* Cursor */
    animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
    margin-top: 1.5em;
}

@keyframes blinkCursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typeAndDelete {
    0%,
    10% {
        width: 0;
    }
    45%,
    55% {
        width: 6.2em;
    } /* adjust width based on content */
    90%,
    100% {
        width: 0;
    }
}
