/* RepaymentScheduleTable.css */

/* Apply styling to the Repayment Schedule Table */
div.RepaymentScheduleTable {
    margin: 20px 0;
}

h2 {
    color: #fff;margin-top: 100px;
}

table {
    width: 110%; /* Make the table broader */
    border-collapse: collapse;
    margin-top: 50px;
}

thead {
    background-color: var(--dark-bg);
    color: var(--text);
}

th, td {
    padding: 12px; /* Increase padding for better spacing */
    text-align: left;
    border: 1px solid #ddd; /* Add border to cells */
}

th {
    border-bottom: 3px solid var(--text); /* Make header border thicker */
}

tbody tr:nth-child(even) {
    background-color: var(--light-bg);
}

tbody tr:hover {
    background: linear-gradient(to right, #800080, #00008B); /* Change background color on hover */
}

/* Add additional styles as needed */
